
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip:hover::after {
    content: attr(title);
    position: absolute;
    top: -5px;
    left: 105%;
    padding: 10px;
    background-color: #8EAFDA;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-width: 300px;
    word-wrap: break-word;
}

.tooltip:hover::after a {
    color: #fff;  /* Links in the tooltip will have white color */
    text-decoration: underline;
}

.tooltip:hover::after a:hover {
    text-decoration: none;  /* Links on hover will not be underlined */
}
